/* CONFIGURAÇÃO GLOBAL */

.card {
    border: 1px solid #fff;
    transition: 0.5s;
}

#footbar {
    transition: 0.5s;
}

#footerconfig {
    padding-bottom: 33px;
    padding-top: 10px;
    background-color: #343a40!important;
}

body {
    transition: 0.5s;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}


/* CONFIGURAÇÃO GLOBAL final*/


/* BOTÃO DO MODO DARK */

.onoffswitch {
    position: relative;
    width: 63px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 152%;
    margin-left: -51%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 16px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 14px;
    background-color: #000000;
    color: white;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 26px;
    margin: -5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 43px;
    border: 2px solid #999999;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* BOTÃO DO MODO DARK final */


/*===================================== */


/* CONFIGURAÇÃO MODO DARK */

.darkmode--activated label {
    color: #fff;
}

.darkmode--activated .card {
    color: #fff;
    background: black;
}

.darkmode--activated .btn {
    color: #fff;
}

.darkmode-background {
    transform: scale(100) !important;
    transition: 1s !important;
}


/* CONFIGURAÇÃO MODO DARK final*/

@media only screen and (max-device-width: 768px) {
    #footerconfig {
        padding-bottom: 33px;
        padding-top: 10px;
        background-color: #343a40!important;
    }
}